# python
__pycache__/
*.py[cod]
.venv/
venv/

# os / editor
.DS_Store
*.swp

# local env overrides
.env
docker-compose.override.yml
*.md

# dbt build artifacts
dbt/target/
dbt/logs/
dbt/dbt_packages/
.user.yml